<div class="d-flex justify-content-center general ml-2 mr-2">
	<form #loginForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form">
        <h1>Antiquction</h1>
    <div class="form-group">
      <label for="staticEmail">Username</label>
      <input type="text" formControlName="username" required class="form-control is-in" id="staticEmail">
      <small class="text-danger"></small> 
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" formControlName="password" required class="form-control" id="inputPassword">
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
  		{{ errorMessage }}
		</div>
    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary mb-2">Login</button>
    <a [routerLink]="'/register'">Register</a>
  </form>
</div>